
body{background-color: #252a34;
    margin-left: -75px;
    margin-top: -25px;
}
h1{color: #00fffb}
h2{color: #FF2E63}
hr{color: #EAEAEA;
            border-style: none;
            border-top-style:dotted;
            border-width: 13px;
            width: 15%;}
p{color: #EAEAEA;}
div {background-color: #29303d;
border-style:dotted;
color: #FF2E63;
}
